@import './variables';

body {
  background: var(--bg-color);
  color: var(--text-color);
}

body.theme-light {
  --bg-color: #fff;
  --text-color: #000;
  --card-color: #fff;
  --button-bg: #eee;
  --button-text: #333;
}

body.theme-dark {
  --bg-color: #000;
  --text-color: #fff;
  --card-color: #1a1a1a;
  --button-bg: #333;
  --button-text: #fff;
}

body.theme-colored {
  --bg-color: linear-gradient(135deg, $gradient-start, $gradient-middle, $gradient-end);
  --text-color: #fff;
  --card-color: rgba(255, 255, 255, 0.2);
  --button-bg: rgba(255, 255, 255, 0.8);
  --button-text: #111;
}
